name: Telegram Udhaar Sathi CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - run: npm install

      - name: Run ESLint
        run: npm run lint
